@media (max-width: 800px) {
  p,
  h1,
  h3 {
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.4s;
  }

  .intro {
    justify-content: center;
    height: 300px;
  }

  #br-rd {
    display: block;
  }

  .intro-text {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: rgba(238, 238, 195, 0.7);
    border-radius: 5px;
    color: #000;
  }

  .intro-imgs {
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .html-img {
    width: 60%;
    right: -33%;
  }

  .css-img {
    left: 9%;
    bottom: -3%;
    width: 40%;
  }

  .summary-text {
    width: 100%;
  }

  .rd-text {
    width: 90%;
    font-size: 130%;
    padding: 5%;
  }

  .show-section {
    flex-direction: column;
    margin: 3%;
  }

  .table-show {
    flex-direction: column-reverse;
  }

  .fa-arrow-right {
    transform: rotateZ(90deg);
  }

  .fa-arrow-left {
    transform: rotateZ(-90deg);
  }

  .raw,
  .done,
  .arrow-base {
    margin: 8%;
    width: 100%;
    text-align: center;
  }

  .explanation-title {
    font-size: 150%;
  }

  .text-fields-show {
    flex-direction: column;
  }

  .input {
    margin: 5%;
  }

  .w-i-r,
  .w-i-l {
    flex-direction: column;
    margin: 5%;
  }

  .w-i-r p,
  .w-i-l p {
    width: 100%;
    margin-top: 2%;
  }

  .animation-1 {
    width: 70%;
    padding: 3%;
  }

  #run {
    font-size: 230%;
    animation-duration: 4s;
  }

  @keyframes slide {
    0% {
      transform: translate(-350%, 0);
    }

    50% {
      transform: translate(350%, 0) rotateY(180deg);
    }

    100% {
      transform: translate(-350%, 0);
    }
  }

  .animation-2 {
    width: 78%;
  }

  @keyframes phasing {
    0% {
      transform: translate(0, 0);
      color: #cccccc;
    }

    25% {
      transform: translate(-300%, 200%);
      color: #737373;
    }

    50% {
      transform: translate(0px, 450%);
      color: #cccccc;
    }

    75% {
      transform: translate(300%, 200%);
      color: #f2f2f2;
    }

    100% {
      transform: translate(0, 0);
      color: #cccccc;
    }
  }

  .animation-3 {
    width: 84%;
  }

  #car {
    animation-duration: 5s;
  }

  .next-page-base {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .next-page-text {
    width: 80%;
  }

  .link-but {
    display: block;
    width: 100%;
    text-align: center;
  }

  .next-page-button {
    width: 50%;
    font-size: 120%;
    transition: all 0.1s;
    cursor: pointer;
    margin: 7% 0 7% 0;
    box-shadow: 3px 5px 0px #ff0000;
    transform: translate(-3px, -3px);
    border: 2px solid #00ffff;
  }

  .next-page-button:hover {
    box-shadow: 3px 5px 0px #ff0000;
    transform: translate(-3px, -3px);
  }

  .next-page-button:active {
    box-shadow: 0px 0px 0px #fff;
    border: 2px solid #00ffff;
    transform: translate(0px, 0px);
  }
}

@media (max-width: 515px) {
  .html-img {
    width: 90%;
    right: -10%;
  }

  .css-img {
    left: 0;
    bottom: -2%;
    width: 53%;
  }

  .rd-text {
    width: 90%;
    font-size: 110%;
    padding: 5%;
  }
}
